<section>
    <div class="players container">
        <div *ngIf="currentRoom">
            <h2> Liste de joueurs</h2>
            <div class="filter-options">
                <label>Interaction</label>
                <div class="arrow-container">
                    <button (click)="setPropertyAndDirection('interaction', 'desc')">▼</button>
                    <button (click)="setPropertyAndDirection('interaction', 'asc')">▲</button>
                </div>
                <label>Points</label>
                <div class="arrow-container">
                    <button (click)="setPropertyAndDirection('points', 'desc')">▼</button>
                    <button (click)="setPropertyAndDirection('points', 'asc')">▲</button>
                </div>
                <label>Alpha</label>
                <div class="arrow-container">
                    <button (click)="setPropertyAndDirection('name', 'asc')">▼</button>
                    <button (click)="setPropertyAndDirection('name', 'desc')">▲</button>
                </div>
            </div>
            
            <div class="player info" *ngFor="let player of currentRoom.listPlayers">
                <i class="fas fa-user"></i>
                <p [ngClass]="{
                    'color-red': player.interaction === 'red',
                    'color-yellow': player.interaction === 'yellow',
                    'color-green': player.interaction === 'green',
                    'color-black': player.interaction === 'black'
                }">{{ player.name }} - Points: {{ player.points }}</p>                
                <i *ngIf="player.interaction !== 'black'"
                class="fas"
                [ngClass]="{ 'fa-comment': !player.isBannedFromChat, 'fa-comment-slash': player.isBannedFromChat }"
                (click)="toggleChatPermission(player)"
                ></i>
            </div>
        </div>
    </div>
</section>
