@import '../../../common-client/constant/constant.scss';

p {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    margin: 0;
}

section {
    flex-direction: column;
}

section,
section div div {
    display: flex;
    gap: $base-gap;
    border-radius: $base-border-radius;
    padding: $base-padding;
}

.player.info {
    align-items: center;
    width: max-content;
    i {
        color: black;
    }
}

.players.container > div {
    display: flex;
    height: 250px;
    overflow-y: auto;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
}
